# Node modules
node_modules/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
build/
dist/
.cache/

# OS-specific files
.DS_Store
Thumbs.db

# Editor/IDE-specific files
.vscode/
.idea/
*.swp

# TypeScript (if applicable)
*.tsbuildinfo

# Miscellaneous
coverage/
